src/main/resources/META-INF/mysql.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.crossbridge.com/schema/tags"  
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:beans="http://www.springframework.org/schema/beans"  
    targetNamespace="http://www.crossbridge.com/schema/tags"  
    elementFormDefault="qualified" attributeFormDefault="unqualified">  
    <xsd:import namespace="http://www.springframework.org/schema/beans" />  
    <xsd:element name="client">  
        <xsd:annotation>  
            <xsd:documentation>connect to mysql</xsd:documentation>  
        </xsd:annotation>  
        <xsd:complexType>  
            <xsd:complexContent>  
                <!-- 继承定义 从namespace="http://www.springframework.org/schema/beans" -->  
                <xsd:extension base="beans:identifiedType">  
                    <xsd:attribute name="dbname" type="xsd:string" use="required" />  
                    <xsd:attribute name="datasouceip" type="xsd:string"  
                        use="optional" default="127.0.0.1" />  
                    <xsd:attribute name="username" type="xsd:string" use="required" />  
                    <xsd:attribute name="password" type="xsd:string" use="required" />  
                    <xsd:attribute name="characterEncoding" 
                        default="utf8">  
                        <xsd:simpleType>  
                            <xsd:restriction base="xsd:string">  
                                <xsd:enumeration value="utf8" />  
                                <xsd:enumeration value="gbk" />  
                            </xsd:restriction>  
                        </xsd:simpleType>  
                    </xsd:attribute>  
                    <xsd:attribute name="configLocation" type="xsd:string"  
                        default="classpath:SqlMapCommonConfig.xml" />  
                </xsd:extension>  
            </xsd:complexContent>  
        </xsd:complexType>  
    </xsd:element>  
</xsd:schema>  